#navback{
	background:crimson;
	border-radius: 0;
	border:black;
	border-style: solid;
	border-size:2px;
}
.navbar-brand span {
	font-size: 36px;
	font-family: "Comic Sans MS";
	color:black;
	font-weight: bold;

}
hr{
	border:black 2px;
	border-style: solid;

}
#menusub{
	height:700px;
	background:gray;
	border:black;
	border-style: solid;
	border-size:2px;
	margin-bottom: 20px;
	overflow:hidden;
}
#menusub h2{
	text-align:center;
	font-family: "Comic Sans MS";
	font-weight: bold;
}
.container h2{
	text-align:center;
	font-family: "Comic Sans MS";
	font-weight: bold;
}
#navback .container{
	margin-left: 0px;
}
li>span{
	text-align: center;
	font-family: "Comic Sans MS";
	font-size:20px;
	color: black;
}
#collapsable-nav {
    clear: both;
    background: white;
    border:0px 2px 2px;
}
@media(max-width:768px){
.row{
	margin-right:20px;
	margin-left: 20px;
}
